<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<br>
<div class="text-center" style="width: 80%; float: left;">
	<h2>이병천 교수님께 질문 남기기</h2>
</div>
<div class="text-center" style="width: 20%; float: right;">
		<button type="button" onclick="location.href='./write'">글 작성하기</button>
</div>
<br><br>
<div class="text-center">
	<table class="table">
		<thead>
			<tr>
				<th width=80%>제목</th>
				<th width=20%>작성자</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of writes">
				<td width=80%></td>
				<td width=20%></td>
			</tr>
		</tbody>
	</table>
	<br>






